/*------------------------------------------------------------------------------
                               BLOG SECTIONS
-------------------------------------------------------------------------------*/
@import "../_vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "../_vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/image";
@import "../_vendors/bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import "../_abstracts/variables";

/*-----------------------------------------------------------------------------
                                 BLOG MAIN-CONTENT
------------------------------------------------------------------------------*/
.main-content {
  margin-top: 90px;

  blockquote {
    p {
      font-size: 15px;
    }
  }

  h5 {
    font-weight: bold;
  }

  .btn {
    background: $accent-color;
    color: $white-color;
    &:hover {
      box-shadow: $box-shadow-light;
      background: darken($accent-color, 5%);
    }
  }

  .comment-options {
    font-size: 13px;
    a {
      font-size: 13px;
      padding: 3px;
      &:hover {
        background: $hover-bg;
      }
    }
  }
  @media (min-width: 768px) {
    .lead {
      font-size: 17px;
    }
  }

  .main-image {
    background: $accent-color;
    position: relative;
    overflow: hidden;
    img {
      @include img-responsive();
      transition: all .8s;
    }
    .caption-and-link {
      position: absolute;
      display: none;
      transition: all .5s;
      justify-content: flex-end;
      text-align: center;
      align-items: flex-start;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      .caption {
        color: $white-color;
        padding: 10px;
        h6 {
          text-transform: uppercase;
          margin-bottom: -5px;
          font-weight: 500;
        }
      }
      .links {
        padding: 10px;
        a {
          justify-content: center;
          align-items: center;
          color: $white-color;
          text-transform: uppercase;
          padding: 7px;
          font-size: 11px;
          border: 1px solid $border-light;
          transition: all .5s;
          margin: 2px;
          &:hover {
            background: transparent;
            box-shadow: $border-inset;
          }
        }
      }
    }
    &:hover {
      img {
        opacity: .1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      .caption-and-link {
        display: flex;
        .links a {
          display: inline-flex;
        }
      }
    }
  }
  .comment {
    font-size: 13px;
  }

  .media {
    .media-heading {
      font-weight: normal;
    }
  }

  .blog-pagination {
    text-align: center;
  }

  .post-block {
    @include clearfix();
    border: 1px solid $border-light;
    padding: 8px;
    .blog-posts {
      @include clearfix();
      .blog-block {
        padding: 0;
        .blog {
          border: 1px solid $border-light;
          margin: 8px;
          overflow: hidden;

          .preview-image {
            background: $accent-color;
            position: relative;
            img {
              @include img-responsive();
              transition: all .8s;
            }
            .caption-and-link {
              position: absolute;
              display: none;
              transition: all .5s;
              justify-content: center;
              align-items: flex-start;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 10px;
              .caption {
                color: $white-color;
                padding: 10px;
                h6 {
                  text-transform: uppercase;
                  margin-bottom: -5px;
                  font-weight: 500;
                }
              }
              .links {
                padding: 10px;
                a {
                  justify-content: center;
                  align-items: center;
                  color: $white-color;
                  text-transform: uppercase;
                  padding: 7px;
                  font-size: 11px;
                  border: 1px solid $border-light;
                  transition: all .5s;
                  margin: 2px;
                  &:hover {
                    background: transparent;
                    box-shadow: $border-inset;
                  }
                }
              }
            }
            &:hover {
              img {
                opacity: .1;
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
              }
              .caption-and-link {
                display: flex;
                .links a {
                  display: inline-flex;
                }
              }
            }
          }

          .text-content {
            padding: 15px;
            background: $content-bg;
            z-index: 4;
            position: relative;

            //directional css
            @if ($Direction == 'rtl') {
              text-align: right;
            } @else {
              text-align: left;
            }

            h6 {
              border-bottom: 1px solid $border-light;
              padding-bottom: 10px;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

/*-----------------------------------------------------------------------------
                                 BLOG SIDE-BAR
------------------------------------------------------------------------------*/
.side-bar {
  margin-top: 90px;
  .search-widget {
    .btn {
      padding: 9px 15px;
      background: $accent-color;
      color: $white-color;
      border: 1px solid $accent-color;
      &:hover {
        box-shadow: $box-shadow-light;
        background: darken($accent-color, 5%);
      }
    }
    .form-group {
      input {
        background: $body-color;
      }
    }
  }
  .categories-widget {
    a {
      padding: 10px;
      border: 1px solid $border-light;
      margin: 3px;
      line-height: 3.5;
      &:hover, &:focus {
        background-color: $hover-bg;
      }
    }
  }
  .author-widget {
    .action {
      a {
        .more {
          width: auto;
          font-size: 13px;
          height: 25px;
          display: flex;
          align-items: center;
        }
        span {
          font-size: 17px;
          width: 25px;
          text-align: center;
          display: inline-block;
        }
        &:hover {
          background: $hover-bg;
        }
      }
      .btn {
        padding: 4px;
        margin: 0 0 5px 0;
      }
    }
  }
  .recent-post-widget, .popular-post-widget {
    .media {
      border: 1px solid $border-light;
      transition: background .5s;
      cursor: pointer;
      &:hover {
        background: $hover-bg;
      }
      .media-heading {
        margin-top: 9px;
        margin-bottom: -8px;
        font-weight: normal;
      }
      .info {
        font-size: 13px;
      }
    }
  }
}